<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .container{
            display: grid;
            grid-auto-flow: column;
            grid-gap: 20px;
        }
        .left,.right,.content{
            border-left: solid 5px currentColor;
            border-right: solid 5px currentColor;
            color: #fff;
            background: #4577dc
        }
        p{
            padding: 10px;
        }
    </style>
</head>

<body>
    <!-- 等高布局是指子元素在父元素中高度相等的布局方式 -->
    <!-- PC端兼容性不是很好 -->
    <div class="container">
        <div class="left">
            <p>left</p>
        </div>
        <div class="content">
            <p>content</p>
            <p>网格等高布局</p>
        </div>
        <div class="right">
            <p>right</p>
        </div>
    </div>
</body>